.ap-profile{
    .ap-answers{
        border: solid 1px #eee;
    }
    &-content{
        .ap-btn-group-sort{
            margin-bottom: 15px;
        }
    }
}
.ap-profile-answer{
    padding: 10px 15px;
    border-bottom: solid 1px #eee;
    display: flex;
    &:last-child{
        border-bottom: none;
    }


    .ap-answer-title{
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        > a{
            color: var(--ap_color3);
        }
    }
    &-con{
        width: calc( 100% - 67px);
    }
    &-meta{
        > span {
            font-size: 12px;
            color: #888;
            margin-right: 15px;
            i{
                margin-right: 5px;
            }
        }
    }
    &-post_content{
        margin-bottom: 10px;
        font-size: 13px;
    }
}
