//
// Profile styles
// --------------------------------------------------
.ap-profile{
	.ap-col-main{
		width: 100%;
	}
	&-info{
		padding: 25px 25px 0;
	}
	&-avatar{
		margin-right: 40px;
		flex-basis: 140px;
		> img{
			border-radius: 50%;
		}
	}
	&-vcard{
		width: 100%;
		&-name{
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}
		&-metas{
			font-size: 13px;
			> span{
				margin-right: 10px;
				&:first-child b{
					display: none;
				}
			}
			b{
				color: #aaa;
				margin-right: 5px;
			}
		}
		&-rep{
		}
	}
	&-counts{
		margin-top: 15px;
		border-top: solid 1px #eee;
		padding-top: 15px;
		> div{
			margin-right: 40px;
			&:last-child{
				margin-right: 0;
			}
		}
		.ap__{
			&dt{
				font-size: 10px;
				color: var(--ap_color1);
				text-transform: uppercase;
				display: block;
			}
			&dd{
				font-size: 13px;
			}
		}
	}
	.ap__ask-btn{
		align-self: center;
	}
}

#ap-nav-item-settings {
    margin-left: auto;
}

.ap-user-reputation {
	margin-left: 5px;
	background: #FFC107;
	padding: 1px 4px;
	font-size: 11px;
	border-radius: 2px;
	font-weight: bold;
	margin-right: 5px;
	vertical-align: text-bottom;
}

// ----------------
// User profile nav
//-----------------

.ap-profile-nav{
	margin-top: 50px;
    margin-bottom: 30px;
    margin-left: -25px;
    margin-right: -25px;
	.ap-tab{
		width: 100%;
		padding: 0 20px;
		font-weight: bold;
	}
}
