.ap-reputation{

	&-ref{
		margin-top: 5px;
		display: block;
		margin-top: 5px;
		font-size: 12px;
		color: #777;
		strong{
			display: block;
			color: #444;
		}
	}
	&-activity {
		font-weight: bold;
	}
}
.ap-reps{
	border: solid 1px #eee;

	&-item{
		border-bottom: solid 1px #eee;
		padding: 15px;
		display: flex;

		&-icon{
			background: var(--ap_color4);
			align-self: baseline;
			margin-right: 15px;
			padding: 8px 10px;
			border-radius: 4px;
			font-size: 17px;
			flex: 0 0 45px;
			text-align: center;
			color: #fff;
		}
		&-event{
			width: 100%;
		}
		&-points {
			background: var(--ap_color9);
			padding: 1px;
			width: 40px;
			margin-top: 10px;
			text-align: center;
			height: 25px;
			font-weight: bold;
			border-radius: var(--ap_border-radius);
			color: #fff;
		}
		&-date{
			font-size: var(--ap_fs-md)
		}
	}
	a.ap-reputation-ref {
		border: solid 1px #eee;
		padding: 10px;
		border-radius: 4px;
		p{
			margin-bottom: 0;
		}
	}
}
