.ap-snackbar {
	transition-property: opacity, bottom, left, right, width, margin, border-radius;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	font-size: 14px;
	min-height: 14px;
	position: fixed;
	background-color: #d32F2f;
	color: #fff;
	line-height: 22px;
	padding: 18px 24px;
	bottom: 0px;
	opacity: 0;
	z-index: 99999;
	&.success{
		color: #fff;
		background-color: #323232;
	}
	&-info {
		display: block;
		font-size: 10px;
		color: rgba(255,255,255,0.5);
		line-height: 1;
		margin-top: 5px;
	}
}
.snackbar-show .ap-snackbar{
	opacity: 1;
	bottom: 0;
}

@media (min-width: 640px) {
	.ap-snackbar {
		min-width: 288px;
		max-width: 568px;
		border-radius: 2px;
		margin: 24px;
		bottom: -100px;
	}
}
@media (max-width: 640px) {
	.ap-snackbar {
		left: 0px;
		right: 0px;
	}
}
.ap-snackbar .action {
	background: inherit;
	display: inline-block;
	border: none;
	font-size: inherit;
	text-transform: uppercase;
	color: #ffeb3b;
	margin: 0px 0px 0px 24px;
	padding: 0px;
	min-width: -webkit-min-content;
	min-width: -moz-min-content;
	min-width: min-content;
}