.ap-tab {
    display: inline-flex;
    border-bottom: solid 1px var(--ap_border-color);

    &__item{
        margin-bottom: -1px;
        border: solid 1px transparent;
        input{
            display: none;
        }
    }

    &__anchor{
        display: block;
        padding: 6px 15px;
        text-decoration: none;
        border-radius: 2px 2px 0 0;
        cursor: pointer;
        &:hover {
            border-bottom-color: #ddd;
        }
    }

    &__active {
        font-weight: bold;
        color: inherit;
        border-color: var(--ap_border-color);
        border-bottom-color: #fff;
        background: #fff;
    }
    .ap-tab-unpublished a{
        color: $color9;
    }
    .ap-tab-count {
        background: #FFEB3B;
        padding: 0 4px;
        display: inline-block;
        text-align: center;
        border-radius: 2px;
    }
    .ap-tab-sort {
        margin-left: auto;
        align-self: center;
        select{
            border: none;
            padding: 0;
            height: auto;
        }
    }
}